body {
            font-family: 'Arial', sans-serif;
            background: linear-gradient(135deg, #00bcd4, #8e44ad);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: white;
        }
        .container {
            background-color: #333;
            border-radius: 15px;
            padding: 30px;
            text-align: center;
            width: 90%;
            max-width: 400px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(10px);
        }
        h1 {
            font-size: 2.5em;
            margin-bottom: 10px;
            color: #f39c12;
        }
        .content {
            font-size: 1.1em;
            margin-bottom: 30px;
        }
        .skills {
            font-size: 1.2em;
        }
        .skills ul {
            padding-left: 0;
            list-style-type: none;
        }
        .skills li {
            background-color: #3498db;
            margin: 10px 0;
            padding: 12px;
            border-radius: 10px;
            transition: background-color 0.3s ease;
        }
        .skills li:hover {
            background-color: #2980b9;
        }
        .button {
            background-color: #f39c12;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1em;
            text-decoration: none;
            display: inline-block;
            margin-top: 20px;
        }
        .button:hover {
            background-color: #e67e22;
        }
    